                      
extends layout
    
block content
  link(rel='stylesheet', href='/stylesheets/ekspresy.css')
  script(src='/javascripts/ekspresy.js')  
  div.container
     input(type='text', placeholder='wpisz nazwę ekspresu')(onkeyup='changeBackgroundColor()') 
     div#ex1.background
      span#title1 Expres1     
      img(src='/images/expres1.jpg')
     div#ex2.background
      span#title2 Expres2
      img(src='/images/expres2.jpg')
     div#ex3.background
      span#title3 Expres3
      img(src='/images/expres3.jpg')
     div#ex4.background
      span#title4 Expres4
      img(src='/images/expres4.jpg')

  footer#footer
   p Copyright (c) KOSMOS