                      
extends layout
    
block content
  link(rel='stylesheet', href='/stylesheets/ekspresy.css')
  script(src='/javascripts/expresy.js')  
  div.container
     input(type='text', placeholder='wpisz nazwę ekspresu') 
     div.background
      span Expres1     
      img(src='/images/expres1.jpg')
     div.background
      span Expres2
      img(src='/images/expres2.jpg')
     div.background
      span Expres3
      img(src='/images/expres3.jpg')
     div.background
      span Expres4
      img(src='/images/expres4.jpg')

  footer#footer
   p Copyright (c) KOSMOS