extends layout

block content
 div.container
      img#coffee(src='/images/coffee.png')
      img#coffee(src='/images/coffee.png')
      img#coffee(src='/images/coffee.png')
      img#coffee(src='/images/coffee.png')
      ul.menu-bar
            li
             a(href='/oferty') Oferty
            li
             a(href='/expresy') Expresy
            li
             a(href='/uslugi') Usługi
            li
             a(href='/kontakt') Kontakt

      div.content
       p Jesteśmy na rynku od lat. Oferujemy tylko i wyłacznie kawę najwyższej jakości.
       p Mamy szeroki asortyment aż czterech expresów oraz nie wiele więcej. 
       p Tylko z nami przerwa na kawę będzie niezapomianym przeżyciem - kubki tańcza.
       
      footer#footer
       p Copyright (c) KOSMOS          
          
      
  
          
 
  


  
    
