extends layout

block content
  div.container 
   .image-block
     h3 Mocna, aromatyczna kawa
     img(src='/images/kawa_opakowanie.jpg')
     p Tak jak dobra kawa może pachnieć choćby skórą, tytoniem i wiciokrzewem, 
     p i to naraz, tak samo miłość jest mieszanką wielu uczuć: 
     p zauroczenia, idealizacji, czułości, pożądania, pragnienia ochrony 
     p i bycia chronionym, chęci zniewolenia, braterstwa, przyjaźni, podziwu 
     p i estetycznej satysfakcji oraz tysięcy innych.
     h4 Anthony Capella
   .image-block 
     h3 Jeszcze mocniejsza i bardziej aromatyczna kawa
     img(src='/images/kawa_opakowanie2.jpg')
     p Nie pijam herbaty. Herbata zamula. Co więcej, herbata była jedną z głównych 
     p przyczyn upadku Imperium Brytyjskiego. Bądź tak dobra i zrób mi kawę.
     h4 I. Fleming
   .image-block 
     h3 Dwa razy bardziej aromatyczna niż do tej pory 
     img(src='/images/kawa_opakowanie3.jpg')
     p To nie jest przyjemność – warknąłem. – To grzech. Kawa to diabelski nektar.
     p Jest wstrętna, niezdrowa i zniewala pół świata.
     h4 M. Helprin
   .image-block 
     h3 Najbardziej aromatyczna kawa na świecie
     img(src='/images/kawa_opakownie4.jpg')
     p Rycerz nie zdołał powstrzymać uśmiechu. Halta najwyraźniej bardziej oburzał 
     p fakt, że jego brat nie lubi kawy, niż że pozbawił go tronu. 
     p Cały Halt – stwierdził w myśli Horace.
     h4  John Flangan