extends layout
    
block content
    link(rel='stylesheet', href='/stylesheets/uslugi.css')
    script(src='https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js')
    script(src='/javascripts/uslugi.js') 
    .container 
     div
      textarea
      br
      button.btn.btn-default(type='submit')(onclick='generatePDF()') Pobierz plik
       img(src='/images/pdf.png') 
      br
      span Pobierz plik z napisanym powyżej tekstem 
      br    
      
      footer#footer
      p Copyright (c) KOSMOS